In [126]:
import pandas as pd
import numpy as np

In [127]:
# Import database
dataset = pd.read_csv("D:\Disaster\stormdata_2013.csv")

In [128]:
dataset.info(verbose = True, null_counts = False)
dataset.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51932 entries, 0 to 51931
Data columns (total 58 columns):
BEGIN_YEARMONTH       int64
BEGIN_DAY             int64
BEGIN_TIME            int64
END_YEARMONTH         int64
END_DAY               int64
END_TIME              int64
EPISODE_ID            int64
EVENT_ID              int64
STATE                 object
STATE_FIPS            int64
YEAR                  int64
MONTH_NAME            object
EVENT_TYPE            object
CZ_TYPE               object
CZ_FIPS               int64
CZ_NAME               object
WFO                   object
BEGIN_DATE_TIME       object
CZ_TIMEZONE           object
END_DATE_TIME         object
INJURIES_DIRECT       int64
INJURIES_INDIRECT     int64
DEATHS_DIRECT         int64
DEATHS_INDIRECT       int64
DAMAGE_PROPERTY       object
DAMAGE_CROPS          object
SOURCE                object
MAGNITUDE             float64
MAGNITUDE_TYPE        object
FLOOD_CAUSE           object
CATEGORY              float64
TOR_F_SCALE           object
TOR_LENGTH            float64
TOR_WIDTH             float64
TOR_OTHER_WFO         object
TOR_OTHER_CZ_STATE    object
TOR_OTHER_CZ_FIPS     float64
TOR_OTHER_CZ_NAME     object
BEGIN_RANGE           float64
BEGIN_AZIMUTH         object
BEGIN_LOCATION        object
END_RANGE             float64
END_AZIMUTH           object
END_LOCATION          object
BEGIN_LAT             float64
BEGIN_LON             float64
END_LAT               float64
END_LON               float64
EPISODE_NARRATIVE     object
EVENT_NARRATIVE       object
LAST_MOD_DATE         int64
LAST_MOD_TIME         int64
LAST_CERT_DATE        int64
LAST_CERT_TIME        int64
LAST_MOD              object
LAST_CERT             object
ADDCORR_FLG           float64
ADDCORR_DATE          float64
dtypes: float64(13), int64(19), object(26)
memory usage: 23.0+ MB

BEGIN_YEARMONTH           0
BEGIN_DAY                 0
BEGIN_TIME                0
END_YEARMONTH             0
END_DAY                   0
END_TIME                  0
EPISODE_ID                0
EVENT_ID                  0
STATE                     0
STATE_FIPS                0
YEAR                      0
MONTH_NAME                0
EVENT_TYPE                0
CZ_TYPE                   0
CZ_FIPS                   0
CZ_NAME                   0
WFO                       0
BEGIN_DATE_TIME           0
CZ_TIMEZONE               0
END_DATE_TIME             0
INJURIES_DIRECT           0
INJURIES_INDIRECT         0
DEATHS_DIRECT             0
DEATHS_INDIRECT           0
DAMAGE_PROPERTY        7751
DAMAGE_CROPS           8333
SOURCE                    0
MAGNITUDE             25562
MAGNITUDE_TYPE        35080
FLOOD_CAUSE           45679
CATEGORY              51931
TOR_F_SCALE           51029
TOR_LENGTH            51029
TOR_WIDTH             51029
TOR_OTHER_WFO         51824
TOR_OTHER_CZ_STATE    51824
TOR_OTHER_CZ_FIPS     51824
TOR_OTHER_CZ_NAME     51824
BEGIN_RANGE           19677
BEGIN_AZIMUTH         19677
BEGIN_LOCATION        19677
END_RANGE             43245
END_AZIMUTH           43245
END_LOCATION          43245
BEGIN_LAT             19677
BEGIN_LON             19677
END_LAT               43245
END_LON               43245
EPISODE_NARRATIVE         0
EVENT_NARRATIVE       13343
LAST_MOD_DATE             0
LAST_MOD_TIME             0
LAST_CERT_DATE            0
LAST_CERT_TIME            0
LAST_MOD              16467
LAST_CERT                 0
ADDCORR_FLG           43036
ADDCORR_DATE          43036
dtype: int64

Feature Engineering
1. Null Values
    - Numeric
    - String
    - 
2.

Split into trainset and dataset

In [129]:
trainset = dataset.iloc[:(round(len(dataset)*0.80)), :]

In [130]:
trainset.info(verbose = True, null_counts = False)
trainset.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41546 entries, 0 to 41545
Data columns (total 58 columns):
BEGIN_YEARMONTH       int64
BEGIN_DAY             int64
BEGIN_TIME            int64
END_YEARMONTH         int64
END_DAY               int64
END_TIME              int64
EPISODE_ID            int64
EVENT_ID              int64
STATE                 object
STATE_FIPS            int64
YEAR                  int64
MONTH_NAME            object
EVENT_TYPE            object
CZ_TYPE               object
CZ_FIPS               int64
CZ_NAME               object
WFO                   object
BEGIN_DATE_TIME       object
CZ_TIMEZONE           object
END_DATE_TIME         object
INJURIES_DIRECT       int64
INJURIES_INDIRECT     int64
DEATHS_DIRECT         int64
DEATHS_INDIRECT       int64
DAMAGE_PROPERTY       object
DAMAGE_CROPS          object
SOURCE                object
MAGNITUDE             float64
MAGNITUDE_TYPE        object
FLOOD_CAUSE           object
CATEGORY              float64
TOR_F_SCALE           object
TOR_LENGTH            float64
TOR_WIDTH             float64
TOR_OTHER_WFO         object
TOR_OTHER_CZ_STATE    object
TOR_OTHER_CZ_FIPS     float64
TOR_OTHER_CZ_NAME     object
BEGIN_RANGE           float64
BEGIN_AZIMUTH         object
BEGIN_LOCATION        object
END_RANGE             float64
END_AZIMUTH           object
END_LOCATION          object
BEGIN_LAT             float64
BEGIN_LON             float64
END_LAT               float64
END_LON               float64
EPISODE_NARRATIVE     object
EVENT_NARRATIVE       object
LAST_MOD_DATE         int64
LAST_MOD_TIME         int64
LAST_CERT_DATE        int64
LAST_CERT_TIME        int64
LAST_MOD              object
LAST_CERT             object
ADDCORR_FLG           float64
ADDCORR_DATE          float64
dtypes: float64(13), int64(19), object(26)
memory usage: 18.4+ MB

BEGIN_YEARMONTH           0
BEGIN_DAY                 0
BEGIN_TIME                0
END_YEARMONTH             0
END_DAY                   0
END_TIME                  0
EPISODE_ID                0
EVENT_ID                  0
STATE                     0
STATE_FIPS                0
YEAR                      0
MONTH_NAME                0
EVENT_TYPE                0
CZ_TYPE                   0
CZ_FIPS                   0
CZ_NAME                   0
WFO                       0
BEGIN_DATE_TIME           0
CZ_TIMEZONE               0
END_DATE_TIME             0
INJURIES_DIRECT           0
INJURIES_INDIRECT         0
DEATHS_DIRECT             0
DEATHS_INDIRECT           0
DAMAGE_PROPERTY        6515
DAMAGE_CROPS           6782
SOURCE                    0
MAGNITUDE             20482
MAGNITUDE_TYPE        28236
FLOOD_CAUSE           37160
CATEGORY              41546
TOR_F_SCALE           40795
TOR_LENGTH            40795
TOR_WIDTH             40795
TOR_OTHER_WFO         41463
TOR_OTHER_CZ_STATE    41463
TOR_OTHER_CZ_FIPS     41463
TOR_OTHER_CZ_NAME     41463
BEGIN_RANGE           16479
BEGIN_AZIMUTH         16479
BEGIN_LOCATION        16479
END_RANGE             35120
END_AZIMUTH           35120
END_LOCATION          35120
BEGIN_LAT             16479
BEGIN_LON             16479
END_LAT               35120
END_LON               35120
EPISODE_NARRATIVE         0
EVENT_NARRATIVE       11052
LAST_MOD_DATE             0
LAST_MOD_TIME             0
LAST_CERT_DATE            0
LAST_CERT_TIME            0
LAST_MOD              13283
LAST_CERT                 0
ADDCORR_FLG           34033
ADDCORR_DATE          34033
dtype: int64

In [131]:
trainset.head(20)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,EPISODE_NARRATIVE,EVENT_NARRATIVE,LAST_MOD_DATE,LAST_MOD_TIME,LAST_CERT_DATE,LAST_CERT_TIME,LAST_MOD,LAST_CERT,ADDCORR_FLG,ADDCORR_DATE
0,201301,1,0,201301,31,2359,70300,422180,ALABAMA,1,...,Mainly D2 drought conditions persisted through...,NaN,99999999,9999,20130204,1608,NaN,02/04/2013 16:08:56,NaN,NaN
1,201301,1,0,201301,31,2359,70580,423795,COLORADO,8,...,The early winter season precipitation seemed t...,Extreme drought conditions remained unchanged ...,20140108,1749,20140108,1750,01/08/2014 17:49:54,01/08/2014 17:50:21,1.0,20140115.0
2,201301,1,1230,201301,1,1230,71728,431896,CALIFORNIA,6,...,"On January 1, long period swell from the Pacif...",A visitor to Point Reyes was walking along the...,20130329,1035,20130329,1137,03/29/2013 10:35:06,03/29/2013 11:37:35,NaN,NaN
3,201301,1,1800,201301,2,1400,70755,424932,WYOMING,56,...,"An upper level system moved across the area, b...",NaN,20130329,1030,20130329,1205,03/29/2013 10:30:16,03/29/2013 12:05:33,NaN,NaN
4,201301,1,1800,201301,2,1400,70753,424935,SOUTH DAKOTA,46,...,An upper level system moved across the Norther...,NaN,20130329,1028,20130329,1205,03/29/2013 10:28:23,03/29/2013 12:05:33,NaN,NaN
5,201301,1,0,201301,31,2359,70580,423801,COLORADO,8,...,The early winter season precipitation seemed t...,Extreme drought conditions remained unchanged ...,20140108,1749,20140108,1750,01/08/2014 17:49:54,01/08/2014 17:50:21,1.0,20140115.0
6,201301,1,0,201301,31,2359,70580,423799,COLORADO,8,...,The early winter season precipitation seemed t...,Severe drought conditions at the beginning of ...,20140108,1749,20140108,1750,01/08/2014 17:49:54,01/08/2014 17:50:21,1.0,20140115.0
7,201301,1,0,201301,31,2359,70580,423798,COLORADO,8,...,The early winter season precipitation seemed t...,Severe drought conditions at the beginning of ...,20140108,1749,20140108,1750,01/08/2014 17:49:54,01/08/2014 17:50:21,1.0,20140115.0
8,201301,1,0,201301,31,2359,70580,423797,COLORADO,8,...,The early winter season precipitation seemed t...,Extreme drought conditions expanded eastward a...,20140108,1749,20140108,1750,01/08/2014 17:49:54,01/08/2014 17:50:21,1.0,20140115.0
9,201301,1,0,201301,31,2359,70580,423789,COLORADO,8,...,The early winter season precipitation seemed t...,Extreme drought conditions remained unchanged ...,20140108,1749,20140108,1750,01/08/2014 17:49:54,01/08/2014 17:50:21,1.0,20140115.0
10,201301,1,0,201301,31,2359,70555,423699,MINNESOTA,27,...,Snowfall amounts averaged 1 to 4 inches across...,Snowfall amounts across Mower County averaged ...,20130301,1330,20130313,1110,03/01/2013 13:30:36,03/13/2013 11:10:12,NaN,NaN
11,201301,1,0,201301,31,2359,70361,422596,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
12,201301,1,0,201301,31,2359,70361,422597,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
13,201301,1,0,201301,31,2359,70361,422593,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
14,201301,1,0,201301,31,2359,70361,422595,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
15,201301,1,0,201301,31,2359,70361,422594,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
16,201301,1,0,201301,31,2359,70361,422588,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
17,201301,1,0,201301,31,2359,70361,422587,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
18,201301,1,0,201301,31,2359,70361,422586,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN
19,201301,1,0,201301,31,2359,70361,422576,OKLAHOMA,40,...,Several storm systems brought generally light ...,NaN,20130227,1614,20130329,1817,02/27/2013 16:14:19,03/29/2013 18:17:14,NaN,NaN

In [132]:
testset = dataset.iloc[(round(len(dataset)*0.80)):, :]

In [133]:
testset.info(verbose = True, null_counts = False)
testset.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10386 entries, 41546 to 51931
Data columns (total 58 columns):
BEGIN_YEARMONTH       int64
BEGIN_DAY             int64
BEGIN_TIME            int64
END_YEARMONTH         int64
END_DAY               int64
END_TIME              int64
EPISODE_ID            int64
EVENT_ID              int64
STATE                 object
STATE_FIPS            int64
YEAR                  int64
MONTH_NAME            object
EVENT_TYPE            object
CZ_TYPE               object
CZ_FIPS               int64
CZ_NAME               object
WFO                   object
BEGIN_DATE_TIME       object
CZ_TIMEZONE           object
END_DATE_TIME         object
INJURIES_DIRECT       int64
INJURIES_INDIRECT     int64
DEATHS_DIRECT         int64
DEATHS_INDIRECT       int64
DAMAGE_PROPERTY       object
DAMAGE_CROPS          object
SOURCE                object
MAGNITUDE             float64
MAGNITUDE_TYPE        object
FLOOD_CAUSE           object
CATEGORY              float64
TOR_F_SCALE           object
TOR_LENGTH            float64
TOR_WIDTH             float64
TOR_OTHER_WFO         object
TOR_OTHER_CZ_STATE    object
TOR_OTHER_CZ_FIPS     float64
TOR_OTHER_CZ_NAME     object
BEGIN_RANGE           float64
BEGIN_AZIMUTH         object
BEGIN_LOCATION        object
END_RANGE             float64
END_AZIMUTH           object
END_LOCATION          object
BEGIN_LAT             float64
BEGIN_LON             float64
END_LAT               float64
END_LON               float64
EPISODE_NARRATIVE     object
EVENT_NARRATIVE       object
LAST_MOD_DATE         int64
LAST_MOD_TIME         int64
LAST_CERT_DATE        int64
LAST_CERT_TIME        int64
LAST_MOD              object
LAST_CERT             object
ADDCORR_FLG           float64
ADDCORR_DATE          float64
dtypes: float64(13), int64(19), object(26)
memory usage: 4.6+ MB

BEGIN_YEARMONTH           0
BEGIN_DAY                 0
BEGIN_TIME                0
END_YEARMONTH             0
END_DAY                   0
END_TIME                  0
EPISODE_ID                0
EVENT_ID                  0
STATE                     0
STATE_FIPS                0
YEAR                      0
MONTH_NAME                0
EVENT_TYPE                0
CZ_TYPE                   0
CZ_FIPS                   0
CZ_NAME                   0
WFO                       0
BEGIN_DATE_TIME           0
CZ_TIMEZONE               0
END_DATE_TIME             0
INJURIES_DIRECT           0
INJURIES_INDIRECT         0
DEATHS_DIRECT             0
DEATHS_INDIRECT           0
DAMAGE_PROPERTY        1236
DAMAGE_CROPS           1551
SOURCE                    0
MAGNITUDE              5080
MAGNITUDE_TYPE         6844
FLOOD_CAUSE            8519
CATEGORY              10385
TOR_F_SCALE           10234
TOR_LENGTH            10234
TOR_WIDTH             10234
TOR_OTHER_WFO         10361
TOR_OTHER_CZ_STATE    10361
TOR_OTHER_CZ_FIPS     10361
TOR_OTHER_CZ_NAME     10361
BEGIN_RANGE            3198
BEGIN_AZIMUTH          3198
BEGIN_LOCATION         3198
END_RANGE              8125
END_AZIMUTH            8125
END_LOCATION           8125
BEGIN_LAT              3198
BEGIN_LON              3198
END_LAT                8125
END_LON                8125
EPISODE_NARRATIVE         0
EVENT_NARRATIVE        2291
LAST_MOD_DATE             0
LAST_MOD_TIME             0
LAST_CERT_DATE            0
LAST_CERT_TIME            0
LAST_MOD               3184
LAST_CERT                 0
ADDCORR_FLG            9003
ADDCORR_DATE           9003
dtype: int64

In [134]:
testset.head(20)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,EPISODE_NARRATIVE,EVENT_NARRATIVE,LAST_MOD_DATE,LAST_MOD_TIME,LAST_CERT_DATE,LAST_CERT_TIME,LAST_MOD,LAST_CERT,ADDCORR_FLG,ADDCORR_DATE
41546,201307,27,1335,201307,27,1335,77368,467005,FLORIDA,12,...,Sea breeze storms under prevailing southwest f...,A funnel cloud was reported over the Intracoas...,99999999,9999,20130909,1226,NaN,09/09/2013 12:26:18,NaN,NaN
41547,201307,27,1719,201307,27,1723,78294,471231,TEXAS,48,...,A weak boundary moved into the northern Coasta...,Spotter reported several wind gusts to at leas...,99999999,9999,20130930,1130,NaN,09/30/2013 11:30:54,NaN,NaN
41548,201307,27,1705,201307,27,1705,78294,471230,TEXAS,48,...,A weak boundary moved into the northern Coasta...,Large basketball set tossed about 20 feet acro...,99999999,9999,20130930,1130,NaN,09/30/2013 11:30:54,NaN,NaN
41549,201307,27,1522,201307,27,1522,75625,456641,KANSAS,20,...,"Cool, unstable air over northwest Kansas manag...",Spotter reported nickel size hail along with h...,99999999,9999,20130920,1340,NaN,09/20/2013 13:40:43,NaN,NaN
41550,201307,27,2324,201307,27,2324,75683,456813,GULF OF MEXICO,85,...,A weak upper level disturbance triggered thund...,NaN,99999999,9999,20130927,1446,NaN,09/27/2013 14:46:11,NaN,NaN
41551,201307,27,1434,201307,27,1444,78023,470064,GULF OF MEXICO,85,...,A waterspout developed within a robust cumulus...,A waterspout was observed about 3 miles to the...,99999999,9999,20130924,1259,NaN,09/24/2013 12:59:49,NaN,NaN
41552,201307,27,1230,201307,27,1230,76993,464543,TENNESSEE,47,...,The local atmosphere was largely capped keepin...,Three trees were reported down in Soddy Daisy.,99999999,9999,20130928,944,NaN,09/28/2013 09:44:05,NaN,NaN
41553,201307,27,1730,201307,27,1830,79002,474275,ARIZONA,4,...,Thunderstorms brought heavy rain and street fl...,Two inches of rain caused street flooding in S...,99999999,9999,20131108,1048,NaN,11/08/2013 10:48:50,2.0,20131115.0
41554,201307,27,1525,201307,27,1625,79000,474274,ARIZONA,4,...,Heavy rain over the Cataract/Havasu Creek drai...,Heavy rain a few miles upstream from Havasu Vi...,99999999,9999,20131108,1048,NaN,11/08/2013 10:48:50,2.0,20131115.0
41555,201307,27,2230,201307,27,2232,78348,471539,KANSAS,20,...,"Late that evening, an isolated severe thunders...",No damage was reported.,99999999,9999,20131031,1658,NaN,10/31/2013 16:58:56,1.0,20131115.0
41556,201307,27,2045,201307,27,2045,78419,471825,KANSAS,20,...,Numerous thunderstorms developed along a warm ...,NaN,20131021,1056,20131021,1133,10/21/2013 10:56:48,10/21/2013 11:33:07,2.0,20131115.0
41557,201307,28,132,201307,28,232,78485,472132,ALABAMA,1,...,Heavy rain caused flooding in parts of southwe...,Heavy rain caused a foot of water on Hwy 188 a...,99999999,9999,20140102,1135,NaN,01/02/2014 11:35:53,1.0,20140115.0
41558,201307,28,2000,201307,28,2200,77842,469287,WYOMING,56,...,A nearly stationary thunderstorm produced thre...,"A flash flood collapsed a house foundation, wa...",20130926,1546,20131223,1638,09/26/2013 15:46:11,12/23/2013 16:38:32,1.0,20140115.0
41559,201307,28,400,201307,30,0,78327,472666,NORTH CAROLINA,37,...,Thunderstorms repeatedly moved across the same...,The South Fork Catwaba River went into flood s...,20130929,1630,20131219,1735,09/29/2013 16:30:06,12/19/2013 17:35:47,1.0,20140115.0
41560,201307,28,2325,201307,28,2325,77241,466609,NEVADA,32,...,Mid level dry air pushed in above low level mo...,Thunderstorm outflow winds damaged a vehicle b...,20130927,1638,20131018,1336,09/27/2013 16:38:43,10/18/2013 13:36:18,1.0,20131115.0
41561,201307,28,1918,201307,28,1918,77241,466608,NEVADA,32,...,Mid level dry air pushed in above low level mo...,Thunderstorm outflow winds knocked down two tr...,20130927,1638,20131018,1336,09/27/2013 16:38:43,10/18/2013 13:36:18,1.0,20131115.0
41562,201307,28,1843,201307,28,1843,77241,466607,NEVADA,32,...,Mid level dry air pushed in above low level mo...,NaN,20130927,1638,20131018,1336,09/27/2013 16:38:43,10/18/2013 13:36:18,1.0,20131115.0
41563,201307,28,1830,201307,28,1830,77241,466606,NEVADA,32,...,Mid level dry air pushed in above low level mo...,Thunderstorm winds blew down a 20 foot tall pa...,20130927,1638,20131018,1336,09/27/2013 16:38:43,10/18/2013 13:36:18,1.0,20131115.0
41564,201307,28,1643,201307,28,1653,77241,466605,NEVADA,32,...,Mid level dry air pushed in above low level mo...,NaN,20130927,1638,20131018,1336,09/27/2013 16:38:43,10/18/2013 13:36:18,1.0,20131115.0
41565,201307,28,1603,201307,28,1800,77241,466604,NEVADA,32,...,Mid level dry air pushed in above low level mo...,Water up to three feet deep flowed over severa...,20130927,1638,20131018,1336,09/27/2013 16:38:43,10/18/2013 13:36:18,1.0,20131115.0